<div class="img">
  <div class="container">
  <div class="row justify-content-center">
<div class="col-md-6 text-left rounded shadow py-5">
  <form (ngSubmit)="onsubmit(myForm)"#myForm="ngForm" >
    <div ngModelGroup="userDetails" #userDetails="ngModelGroup">
    <div class="form-group">
      <label for="username">username</label>
      <input type="text" class="form-control" id="username" placeholder="enter username" [(ngModel)]="username" name="username" ngModel required>
      <small *ngIf="username">username is:{{username}}</small>
    </div>
  

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" email #email="ngModel"  placeholder="Enter email" name="email" ngModel required>
      <small class="text-danger" *ngIf="!email.valid && email.touched">please enter valid email</small>
    </div>
    <small *ngIf="!userDetails.valid && userDetails.touched">please enter valid details</small>
  </div>
    
    
    <div class="form-group">
      <label for="course">Select course</label>
      <select class="form-control" name="course" id="course" name="course" ngModel>
        <option value="Angular"> Angular</option>
        <option value="HTMl"> HTMl</option>
        <option value="Javascript">Javascript </option>
      </select>
    </div>
    
    <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Submit</button>
  </form>
  <div class="row justify-content-center mt-2" *ngIf="submitted">
    <div class="col-md-6 rounded shadow py-4">
      <h2>Form data</h2>
      <p>Username: <strong>{{employee.username}}</strong></p>
      <p>Email: <strong>{{employee.email}}</strong></p>
      <p>Course: <strong>{{employee.course}}</strong></p>
    </div>
  </div>
</div>
</div>
</div>
</div>
