<div class="container">
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" (change)="getProductValue($event)">
                <option value="laptop">laptop</option>
                <option value="tab">tab</option>
                <option value="tv">tv</option>
                <option value="washing machine">washing machine</option>
            </select>
        </div>
        <div class="col-md-12" [ngSwitch]="selectedProduct">
            <h2 class="text-success" *ngSwitchDefault>please select the product</h2>
            <h2 class="text-success" *ngSwitchCase="'laptop'">laptop</h2>
            <h2 class="text-success" *ngSwitchCase="'tab'">tab</h2>
            <h2 class="text-success" *ngSwitchCase="'tv'">tv</h2>
            <h2 class="text-success" *ngSwitchCase="'washing machine'">washing machine</h2>
        </div>
    </div>
</div>