<div class="container">
 <div><h1 id="a">Structural Directive Assignment</h1></div> 
 <div><h3>1.ngIf Example</h3></div>
    <input type="checkbox" [(ngModel)]="datta" (ngModelChange)="onChange()">create block
    <br><br>
    <div *ngIf="isValid">block has been created</div>
    <br>
    
</div>
<div>
    {{title}}
</div>

<div class="table">

    <thead>
        <tr class="col-md-4">
            <th>CourseName</th>
            <th>Duration</th>
            <th>CourseFee</th>
            <th>CourseType</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course.CourseName}}</td>
            <td>{{course.Duration}}</td>
            <td>{{course.CourseFee}}</td>
            <td>{{course.CourseType}}</td>
        </tr>
    </tbody>

</div>



<h3>NgSwitch</h3>

<div class="container">
    <div class="row">
        <div class="col-md-4">
    <select class="form-controls" (change)="getProductVal($event)">
        <option value="Default">Enter the Course Name</option>
        <option value="Angular Developer">Angular Developer</option>
        <option value="React Developer">React Developer</option>
        <option value="AngularJs Developer">AngularJs Developer</option>
        <option Value="Backend Developer">Backend Developer</option>
    </select>
</div> 

<div class=col-md-12 [ngSwitch]="selectedPro">
<h2 class="text-success" *ngSwitchDefault>Enter the Course Name</h2>
<h2 class="text-success" *ngSwitchCase="'Angular Developer'">Angular Developer</h2>
<h2 class="text-success" *ngSwitchCase="'React Developer'">React Developer</h2>
<h2 class="text-success" *ngSwitchCase="'AngularJs Developer'">AngularJs Developer</h2>
<h2 class="text-success" *ngSwitchCase="'Backend Developer'">Backend Developer</h2>
</div>