
 <div><h1 id="a">Structural Directive Assignment</h1></div> 
 <div><h3>1.ngIf Example</h3></div>
    <input type="checkbox" [(ngModel)]="datta" (ngModelChange)="onChange()">create block
    <br><br>
    <div *ngIf="isValid">block has been created</div>
    <hr>
    

<h3>2.ngFor Example</h3>
<div>
    {{title}}
</div>

<table class="table">

    <thead>
        <tr class="col-md-4">
            <th scope="col">SR.NO</th>
            <th scope="col">CourseName</th>
            <th scope="col">Duration</th>
            <th scope="col">CourseFee</th>
            <th scope="col">CourseType</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses; index as i">
            <td scope="row">{{i+1}}</td>
            <td scope="row">{{course.CourseName}}</td>
            <td scope="row">{{course.Duration}}</td>
            <td scope="row">{{course.CourseFee}}</td>
            <td scope="row">{{course.CourseType}}</td>
        </tr>
    </tbody>

</table>

<hr>

<h3>3.NgSwitch</h3>

<div class="container">
    <div class="row">
        <div class="col-md-4">
    <select class="form-controls" (change)="getProductVal($event)">
        <option value="Default">Enter the Course Name</option>
        <option value="Angular Developer">Angular Developer</option>
        <option value="React Developer">React Developer</option>
        <option value="AngularJs Developer">AngularJs Developer</option>
        <option Value="Backend Developer">Backend Developer</option>
    </select>
    </div>
</div>
</div> 

<div class=col-md-12 [ngSwitch]="selectedPro">
<h2 class="text-success" *ngSwitchDefault>Enter the Course Name</h2>
<h2 class="text-success" *ngSwitchCase="'Angular Developer'">Angular Developer</h2>
<h2 class="text-success" *ngSwitchCase="'React Developer'">React Developer</h2>
<h2 class="text-success" *ngSwitchCase="'AngularJs Developer'">AngularJs Developer</h2>
<h2 class="text-success" *ngSwitchCase="'Backend Developer'">Backend Developer</h2>
</div>