h2{
    margin-top: 30px;
    color: antiquewhite;
    padding: 10px;
}

input,select{
    color: rgb(156, 161, 161);
    margin-bottom: 30px;
}

.container{
    border: 5px solid black;
    background-color: gray;
}

