<div class="container">
   
    <div class="row-justify-content-center">
        <h2 class="text-center">Appointment Letter</h2> 
       <div class="col-md-6" col-md-6 text-left rounded shadow py-5>
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email address">
    </div>
    <div class="form-group">
        <label for="Phone number">Phone number</label>
        <input type="number" class="form-control" id="Phone number" placeholder="Enter number" >
    </div>
       <div class="form-group">
        <label for="Choose date">Choose date</label>
        <input type="date" class="form-control" value="" >
        <input type="time" class="form-control">
       </div>


     


</div>   
    </div>
</div>
